<template name="metadata">
	<div class="btn-meta-group btn-group">
		<button type="button" class="btn btn-meta-dropdown btn-default  btn-sm dropdown-toggle" data-toggle="dropdown">
			{{#isolate}}{{metacat}}{{/isolate}}<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-arrow" role="menu">
			<li class="newmetabtn"><a href="#" data-newtype="category">new</a></li>
			<li class="divider"></li>
			{{#each meta}}
				<li class="metacat" ><a href="#" id="{{label}}">{{label}}</a></li>
			{{/each}}
		</ul>
	</div>
	<div class="btn-meta-group btn-group">
		<button type="button" class="btn btn-meta-dropdown btn-default  btn-sm dropdown-toggle" {{activity}} data-toggle="dropdown">
			{{metaact}}<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-arrow" role="menu">
			<li class="newmetabtn"><a href="#" data-category="{{metacat}}" data-newtype="activity">new</a></li>
			<li class="divider"></li>
			{{#each activities}}
				<li class="metaact" ><a href="#" id="{{label}}">{{label}}</a></li>
			{{/each}}
		</ul>
</div>
</template>