<template name="datedata">

	{{#if datechoice.today}}
		<div id="newdata_date_today" data-ref="date_today" class="form-group date-form-group">
    		<label class="col-sm-10 control-label date" >{{today}}</label>
		</div>
	{{/if}}
	{{#if datechoice.yesterday}}
		<div id="newdata_date_yesterday" data-ref="date_yesterday" class="form-group date-form-group">
    		<label class="col-sm-10 control-label date" >{{yesterday}}</label>
		</div>
	{{/if}}
	{{#if datechoice.selectdate}}
		<div id="newdata_date_other" data-ref="date_other" class="form-group date-form-group">
    	 <div class="col-sm-5 input-group-sm">
    	 	<input id="dateselector" type="date" class="form-control" value="{{defaultdate}}">
    	 </div>
		</div>
	{{/if}}

</template>





