#newData {
	h1,fieldset {
		padding-bottom: 30px;
		color: #333;
	}
	.temporal {
		.time-input {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		.bootstrap-timepicker-widget {
			input {
				border: 1px solid white;
				height: 30px;
				color: white;
				background-color: #428bca;
			}
		}
		label:not(.btn) {
		padding: 8px 0 0 0;
		font-weight: normal;
		font-size: 12px;
		}
		input {
			font-size: 12px;
		}
		.btn-group {
			width: 250px;
			.btn {
				width: 80px;
				text-align: center;
			}
		}
		#newdata_time_actual > div, #newdata_time_actual > label {
			float: left;
		}
		.form-group {
			width: 350px;
			div {
				padding-right: 0;
				padding-left: 0;
			}
			input {
			}
			#end-time-label {
				text-align: center;
			}
			.date {
				font-weight: bold;
			}
		}
	}
	.btn-meta-group button {
		
	}
	.btn-meta-dropdown {
		width: 240px;
		margin-right: 10px;
		text-align: left;
		.caret {
			float: right;
			margin-top: 7px;
		}
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #888;
		color: white;
	}
	.dropdown-menu > li.newmetabtn > a:hover, .dropdown-menu > li.newmetabtn > a:focus {
		background-color: #428bca;
		color: white;
	}
	#save {
		margin-top: 25px;
	}
}